[submodule "deps/kaldi"]
	path = deps/kaldi
	url = https://github.com/kaldi-asr/kaldi.git
[submodule "deps/phonetisaurus"]
	path = deps/phonetisaurus
	url = https://github.com/ayles/Phonetisaurus.git
[submodule "deps/portaudio"]
	path = deps/portaudio
	url = https://github.com/PortAudio/portaudio.git
[submodule "deps/utfcpp"]
	path = deps/utfcpp
	url = https://github.com/nemtrif/utfcpp.git
[submodule "deps/spdlog"]
	path = deps/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "deps/avcpp"]
	path = deps/avcpp
	url = https://github.com/h4tr3d/avcpp.git
[submodule "deps/onnxruntime"]
	path = deps/onnxruntime
	url = https://github.com/microsoft/onnxruntime.git
